.all-containers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  height: 862px;
  width: 944px;
  margin: 50px 40px 73px 40px;
}